{% extends "layouts/main.twig" %}
{% block content %}
    <main id="page-admin-dashboard" class="grid-container row">
        <div class="col-sm-12">
            <h1>Products</h1>
            <div class="text-right">
                <a href="{{ path_for('admin-new') }}" class="header-link">Create New Product <i class="fa fa-chevron-right"></i></a>
            </div>
            {% if products %}
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <td>Title</td>
                        <td class="hide-for-small">Price</td>
                        <td class="hide-for-small">Url</td>
                        <td class="hide-for-small">Category</td>
                        <td class="text-center">Edit</td>
                        <td class="text-center">Delete</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>
                                {{ product.title }}
                            </td>
                            <td class="hide-for-small">
                                €{{ product.price }}
                            </td>
                            <td class="hide-for-small">
                                <a href="{{ path_for('shop-product', {productUrlKey: product.url}) }}">{{ path_for('shop-product', {productUrlKey: product.url}) }}</a>
                            </td>
                            <td>
                                <a href="{{ path_for('shop') }}?category={{ product.categoryId }}">
                                    {{ product.categoryName }}
                                </a>
                            </td>
                            <td class="text-center">
                                <a class="button-edit" href="{{ path_for('admin-edit', {productId: product.id}) }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a class="button-delete" href="#" data-product-id="{{ product.id }}">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'components/pagination.twig' %}
            {% else %}
                <p>
                    No products available
                </p>
            {% endif %}
        </div>
    </main>
{% endblock %}