{% extends "layouts/main.twig" %}
{% block content %}
    <main>
        <h1>Products</h1>
        <a href="{{ path_for('admin-new') }}" class="button">Create New Product</a>
        {% if products %}
            <table>
                <thead>
                <tr>
                    <td>Title</td>
                    <td>Price</td>
                    <td>Url</td>
                    <td>Edit</td>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            {{ product.title }}
                        </td>
                        <td>
                            €{{ product.price }}
                        </td>
                        <td>
                            <a href="{{ path_for('shop-product', {product: product.urlKey}) }}">{{ path_for('shop-product', {product: product.urlKey}) }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('admin-edit', {productId: product.id}) }}" class="button">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% for i in range(1, (productCount/pageLimit)|round(0, 'ceil')) %}
                {% if i == currentPage %}
                    <span>{{ i }}</span>
                {% else %}
                    <a href="{{ path_for('admin-dashboard') }}?page={{ i }}" class="pagination-button">{{ i }}</a>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>
                No products available
            </p>
        {% endif %}
    </main>
{% endblock %}