{% extends "layouts/main.twig" %}
{% block content %}
    <main id="page-cart" class="grid-container row">
        <div class="col-sm-12">
            <h1>Cart</h1>
        </div>
        <div class="col-sm-12">
            {% if cart.products %}
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <td class="hide-for-small">Image</td>
                        <td>Title</td>
                        <td>Price</td>
                        <td class="text-center">
                            <span class="show-for-small">QTY</span>
                            <span class="hide-for-small">Quantity</span>
                        </td>
                        <td class="text-center">
                            <span class="hide-for-small">Update</span>
                        </td>
                        <td class="text-center">
                            <span class="hide-for-small">Remove</span>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in cart.products %}
                        <tr>
                            <td class="hide-for-small">
                                <a href="{{ path_for('shop-product', {productUrlKey: product.url}) }}">
                                    <img src="//placeholdit.imgix.net/~text?txtsize=33&txt=Product%20Image&w=75&h=75"/>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path_for('shop-product', {productUrlKey: product.url}) }}">{{ product.title }}</a>

                            </td>
                            <td>
                                {% include "components/currency-converter.twig" with {"value": product.price} %}
                            </td>
                            <td class="text-center">
                                <input id="cart-product-{{ product.id }}-quantity" type="number" value="{{ product.quantity }}" min="0" max="99"/>
                            </td>
                            <td class="text-center">
                                <a class="button-edit" href="#" data-product-id="{{ product.id }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a class="button-delete" href="#" data-product-id="{{ product.id }}">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="text-right">
                        <td colspan="4"></td>
                        <td>Subtotal: </td>
                        <td>{% include "components/currency-converter.twig" with {"value": cart.subtotal} %}</td>
                    </tr>
                    <tr class="text-right">
                        <td colspan="4"></td>
                        <td>Shipping: </td>
                        <td>{% include "components/currency-converter.twig" with {"value": cart.shippingTotal} %}</td>
                    </tr>
                    <tr class="text-right">
                        <td colspan="4"></td>
                        <td>Total: </td>
                        <td>{% include "components/currency-converter.twig" with {"value": cart.total} %}</td>
                    </tr>
                    </tfoot>
                </table>
                <div class="text-right">
                    <a href="{{ path_for('checkout') }}" class="header-link button">Checkout <i class="fa fa-chevron-right"></i></a>
                </div>
            {% else %}
                <p>
                    Nothing in Cart
                </p>
            {% endif %}
        </div>
    </main>
{% endblock %}