{% extends "layouts/main.twig" %}
{% block content %}
    <main id="page-admin-edit-product" class="grid-container row">
        <div class="col-sm-12">
            <h1>Edit Product</h1>
            <a href="{{ path_for('admin-dashboard') }}" class="button"><span class="fa fa-chevron-left"></span> Back</a>
            <form id="admin-edit-product-form">
                <label for="edit-product-title">Product Title</label>
                <input type="text" id="edit-product-title" value="{{ product.title }}"/>
                <label for="edit-product-price">Price</label>
                <input type="number" id="edit-product-price" step="0.01" min="0.01" value="{{ product.price }}"/>
                <label for="edit-product-url">Product Url</label>
                <input type="text" id="edit-product-url" value="{{ product.urlKey }}"/>
                <input type="hidden" id="edit-product-id" value="{{ product.id }}" readonly="readonly"/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
{% endblock %}