{% extends "layouts/main.twig" %}
{% block content %}
    <main id="page-user-profile" class="grid-container row">
        <div class="col-sm-12">
            <h1>Profile</h1>
            <div class="text-right">
                <a href="{{ path_for('user-profile-edit') }}" class="header-link">Edit Profile <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <h3>Cart</h3>
            <hr/>
            {% if cart.products %}
                {% for product in cart.products %}
                    <p>
                        <a href="{{ path_for('shop-product', {productUrlKey: product.url}) }}">{{ product.title }}</a>
                        x {{ product.quantity }}
                    </p>
                {% endfor %}
                <a href="{{ path_for('cart') }}" class="button">Go To Cart</a>
            {% else %}
                <p>
                    Nothing in Cart
                </p>
            {% endif %}
        </div>
        <div class="col-md-6 col-lg-4">
            <h3>User Details</h3>
            <hr/>
            <p>
                <strong>First Name:</strong> {{ user.firstName }}
            </p>
            <p>
                <strong>Last Name:</strong> {{ user.lastName }}
            </p>
            <p>
                <strong>Email:</strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </p>
        </div>
    </main>
{% endblock %}